body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    height: 450px;
    border-radius: 30px;
    padding: 10px 0px;
    background-color: rgb(41, 43, 47);
}

.calculator-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 10px;
    height: 90px;
    background-color: rgb(17, 18, 18);
    border-radius: 20px;
}

.inner-screen {
    font-family: monospace;
    font-size: 45px;
    text-align: end;
    color: white;
    /* to ensure text is on one line */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.inner-screen::-webkit-scrollbar {
    display: none;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.calculator-layers {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.calculator-layers button {
    font-family: cursive;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgb(41, 43, 47);
    border: none;
    box-shadow: 0px 0px 6px black;
}

.calculator-layers2 {
    margin: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.calculator-layers2 button {
    font-family: cursive;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border: none;
    box-shadow: 0px 0px 6px black;
}

.calculator-layers2-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 74%;
    gap: 6px;
}

.btn-style1 {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    background-color: rgb(41, 43, 47);
}

.btn-style1:hover {
    background-color: rgb(57, 57, 58);
}

.btn-style1:active {
    background-color: rgb(41, 43, 47);
}

.btn-style2 {
    border-radius: 10px;
    width: 60px;
    height: 126px;
    background-color: rgb(0, 140, 255);
}

.btn-style2:hover {
    background-color: rgb(1, 103, 187);
}

.btn-style2:active {
    background-color: rgb(0, 140, 255);
}

.btn-style3 {
    border-radius: 10px;
    width: 130px;
    height: 60px;
    background-color: rgb(41, 43, 47);
}

.btn-style3:hover {
    background-color: rgb(57, 57, 58);
}

.btn-style3:active {
    background-color: rgb(41, 43, 47);
}
